.navigation__logo {
  color: var(--primary-text-color);
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  padding: 16px 0;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 16px;
    left: 15px;
  }

  @media screen and (min-width: 768px) {
    position: static;
    margin-right: 88px;
    padding: 26px 0;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
    padding: 24px 0;
    margin-right: 93px;
  }
}
.logo {
  display: block;
  color: var(--primary-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__studio,
.navigation__logo--accent {
  color: var(--accent-text-color);
}

.logo__accent {
  color: var(--secondary-accent-color);
}

.footer__logo {
  margin-bottom: 20px;
}
