.navigation__logo {
  color: var(--primary-text-color);
  padding: 0px;
  display: flex;
  align-items: center;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo {
  display: block;
  color: var(--primary-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__studio,
.navigation__logo--accent {
  color: var(--accent-text-color);
}

.logo__accent {
  color: var(--secondary-accent-color);
}

.footer__logo {
  margin-bottom: 20px;
}
