.navigation {
  display: flex;
  align-items: center;
}
.navigation__site {
  display: flex;
}
.site-nav {
  display: flex;
}
.site-nav,
.contact-nav {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__link {
  position: relative;
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.contact-nav {
  display: flex;
  margin-left: auto;
  color: var(--secondary-text-color);
}

.contact-nav__link {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
.contact-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.site-nav__item:not(:last-child),
.contact-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-nav__link--active {
  color: var(--accent-text-color);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 45px;
    bottom: auto;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 4px;
  }
}
