.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 93px 0;
  }
}
.section--no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}

.section--accent {
  background-color: var(--secondary-background-color);
}
.section__title {
  font-weight: bold;
  font-size: 28px;
  line-height: calc(33 / 28);

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: 1px;
}
